<div class = "container-name">
  <h1>Alyanna Cyrelle Kumi Briones</h1>
  <h4><i>Student</i></h4>
</div>
<br><br><br><br>
<div class="container">
  <div class="resume-education">
    <h2><li>Education</li></h2>
    <table>
      <tr>
        <th>Level</th>
        <th>School</th>
        <th>Years Attended</th>
      </tr>
      <tr>
        <td>Nursery</td>
        <td>System Plus College Foundation</td>
        <td>2008</td>
      </tr>
      <tr>
        <td>Kinder to Grade 1</td>
        <td>Heath's Montessori Inc.</td>
        <td>2009 - 2012 (3 years)</td>
      </tr>
      <tr>
          <td>Grade 2 to Grade 6</td>
          <td>Achievers Special Education Center</td>
          <td>2012-2016 (5 years)</td>
        </tr>
        <tr>
          <td>Grade 7 to Grade 10</td>
          <td>Claro M. Recto Information Communication and Technology High School</td>
          <td>2016 - 2020 (4 years)</td>
        </tr>
        <tr>
          <td>Grade 11 to Grade 12</td>
          <td>Angeles City Senior High School</td>
          <td>2020 - 2022 (2 years)</td>
        </tr>
        <tr>
          <td>1st Year College to Ongoing (3rd Year)</td>
          <td>Holy Angel University</td>
          <td>2022 - Ongoing (2 years ongoing)</td>
        </tr>
    </table>
  </div>
</div>
<br><br>
<hr>