<br><br><br><br><br><br><br><br><br>
<div class="container">
    <div class="resume-header">
    <br><br><br><br><br><br><br><br><br><br><br>
      <img src="assets/images/profile-picture.jpg" alt="Profile Picture" class="profile-image">
      <div class="profile-text">
        <br><br>
        <h2>Profile</h2>
        <p>I am an IT Web Development student with strong skills in programming, problem-solving, and time management. I am eager to apply my knowledge and gain professional experience to contribute to a dynamic team</p>
        <br><br><br><br><br><br><br><br><br><br>
        <p><b>Contact Me</b></p>
        <ul>
          <li><b>Phone:</b> 09239234356</li>
          <li><b>Email:</b> kumibriones021&#64;gmail.com</li>
          <li><b>Address:</b> VBS Angeles City</li>
        </ul>
        <br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
</div>
  