<h2><li>Skills</li></h2>
<div class="skills-section">
    <div class="skills-column">
        <h2>Soft Skills</h2>
        <ul class="skills-list">
            <li>Time Management</li>
            <li>Teamwork</li>
            <li>Problem-Solving</li>
            <li>Common Sense</li>
            <li>Communication</li>
            <li>Interpersonal Skills</li>
            <li>Adaptability</li>
        </ul>
    </div>

    <div class="skills-column">
        <h2>Technical Skills</h2>
        <ul class="skills-list">
            <li>Microsoft Office</li>
            <li>Spreadsheets</li>
            <li>Social Media</li>
            <li>Presentations</li>
            <li>Graphic Design</li>
            <li>Programming</li>
            <li>Keyboarding skills</li>
        </ul>
    </div>
</div>
